.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.displayCourses {
    grid-column-start: 2;
    grid-column-end: 2;
    border: 0.5px solid black;
}

.selectedCourses {
    grid-column-start: 1;
    grid-row-end: 3;
}

.detailedSemester {
    grid-column-start: 2;
    grid-row-end: 3;
    border: 0.5px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

