.gridContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    
}



li {
    text-align: center;
    list-style-type: none;
    
}


.errorColor {
    color: red;
}

.errorMessage {
    font-size: 18px;
    font-weight: 600;
}

.space {
    margin-bottom: 5%;
    margin-right: 5%;
 }

button {
    background: rgb(255, 221, 217);
    border-radius: 25px;
    border: 1px solid rgb(255, 221, 217);
}

button:hover {
    border: 1px solid rgb(192, 57, 43);
    background: rgb(192, 57, 43);
    color: white;
}

.subGridContainer {
    display: grid;
    border: 0.5px solid black;
    border-radius: 25px;
    grid-template-columns: 2fr 0.5fr;
    align-items: center;
    
}