.grid-container {
    margin-top: 20px;
    display: grid;
}

.grid-container div {
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    width: 30%;
    margin-left: 37%;
}

ul {
    list-style-type: none;
}