.grid-container {
    margin-top: 20px;
    display: grid;
}

.grid-container div {
    text-align: center;
    margin: 10px;
    
    width: 50%;
    margin-left: 27%;
}

li {
    list-style-type: none;
    border: 1px solid black;
}