.grid-container {
    margin-top: 20px;
    display: grid;
}

.grid-container div {

    margin: 10px;
    width: 50%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
}

button {
    text-align: center;
}